body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #F1F1F1;
    color:#333; 
}

.header_container{
    height : 50px; 
    background: #00001F ;
}

.site_title{
    font-family: 'Lobster', cursive;
    font-size: 33px;
    margin-left: 5px; 
    color:white
}

.site_title:hover{
    color:white
}
.site_title:visited{
    color:white   
}

.logo{ 
    margin-top:-12px; 
    margin-left: 20px; 
    width:69px;
    border-radius: 50%; 
}

.img_header{
    height: 80px; 
    background-position: -253px 1544px;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(49, 50, 50, 0.68);
    -moz-box-shadow:    2px 2px 9px 0px rgba(49, 50, 50, 0.68);
    box-shadow:         2px 2px 9px 0px rgba(49, 50, 50, 0.68);
}


.title{
    font-family: 'Francois One', sans-serif;
    font-size: 22px;
    color:#00001F;
}



.title_post{
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    color:#00001F;
}

.subtitle{
    font-family: 'Francois One', sans-serif;
    font-size: 14px;
    color : #999;
    margin-left:5px; 
}

.no_margin{
    margin-left: 0;
    margin-right: 0;
}

a { 
    color: #00001F; 
    text-decoration: none; 
}
a:hover   { 
    color: #F54A05; 
    text-decoration: none; 
}
a:visited { 
    color: #00001F; 
}

article p{
    margin-top:15px; 
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: justify;
}

table {
    border:none; 
}

.social-ul li{
    font-size:30px;
    display:inline;
    padding:0 20px}

.social-ul li a{
    color:#777
}

.social-ul li a:hover{
    color:#aaa
}


@media (min-width:768px) { 
    .thumbnail{
        min-height: 410px; 
    }    
}

.container_perso{
    margin-top: 3%; 
}

.thumbnail{
    border:0;
    padding: 0; 

} 

.color{
    color: #F54A05; 
}



.white{
    background-color: white; 
    padding:20px;
    margin-top:30px; 
}

.fb-like{
    margin-top:10px; 
}

.section{
    margin-bottom:35px; 
}

.section:last-child
{
    margin-bottom:0px; 
}



