body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #F1F1F1;
    color:#333; 
}

.header_container{
    height : 50px; 
    background: #00001F ;
}

.site_title{
    font-family: 'Lobster', cursive;
    font-size: 33px;
    margin-left: 5px; 
    color:white
}

.site_title:hover{
    color:white
}
.site_title:visited{
    color:white   
}

.logo{ 
    margin-top:-12px; 
    margin-left: 20px; 
    width:69px;
    border-radius: 50%; 
}

.img_header{
    height: 80px; 
    background-position: -253px 1544px;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(49, 50, 50, 0.68);
    -moz-box-shadow:    2px 2px 9px 0px rgba(49, 50, 50, 0.68);
    box-shadow:         2px 2px 9px 0px rgba(49, 50, 50, 0.68);
}


.title{
    font-family: 'Francois One', sans-serif;
    font-size: 22px;
}

.subtitle{
    font-family: 'Francois One', sans-serif;
    font-size: 14px;
    color : #999;
    margin-left:5px; 
}

.no_margin{
    margin-left: 0;
    margin-right: 0;
}

a { 
    color: #2a7ae2; 
    text-decoration: none; 
}
a:hover   { 
    color: #F54A05; 
    text-decoration: none; 
}
a:visited { 
    color: #F54A05; 
}

article p{
    margin-top:16px; 
    text-align: justify;
}

table {
    border:none; 
}

.social-ul li{
    font-size:30px;
    display:inline;
    padding:0 20px}

.social-ul li a{
    color:#777
}

.social-ul li a:hover{
    color:#aaa
}


@media (min-width:768px) { 
    .thumbnail{
        min-height: 410px; 
    }    
}

.container_perso{
    margin-top: 3%; 
}

.thumbnail{
    border:0;
    padding: 0; 
} 

.color{
    color: #F54A05; 
}

.other{
    margin-top: 40px; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



