<link rel="stylesheet" href="{{ '/css/second.css' | prepend: site.baseurl }}">
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Maxime Herbaut",
  "url" : "http://www.maximeherbaut.com",
  "sameAs" : [ "https://fr.linkedin.com/in/maximeherbaut",
               "https://twitter.com/MaximeHerbaut"],
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+336160713",
    "contactType" : "customer service"
  }]
}
</script>

<script>
  !function(){var e=window._ramen=window._ramen||[];if(!e.initialize){if(e.invoked)return void(window.console&&console.error&&console.error("Ramen snippet included twice."));e.invoked=!0,e.methods=["boot","ready","identify","group","track","page","reset","ask"],e.factory=function(r){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(r),e.push(t),e}};for(var r=0;r<e.methods.length;r++){var t=e.methods[r];e[t]=e.factory(t)}var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://cdn.ramen.is/assets/ramen.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o)}}();
  _ramen.boot('570e0bbf6462372285472000');
  _ramen.identify()
</script>
