<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Catégories</div>
        <div class="panel-body">
            <ul>
                {% for category in site.categories %}
                <li><a href="{{site.url}}{{category[0]}}">{{category[0]}}</a></li>
                {% endfor %} 
                
         
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Suivre</div>
        <div class="panel-body">
            <center>
                <ul class="social-ul no_margin">
                    <li class="social"><a href="https://www.linkedin.com/{{ site.github_username }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li class="social"><a href="https://twitter.com/{{ site.github_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="social"><a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li class="social"><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss"></i>
                </ul>
            </center>
        </div>
    </div>
</div>


